@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Sans+JP:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}

/* * {
outline: 1px solid red;
} */

:root {
    --bg-color: #191f36;
    --snd-bg-color: #262840;
    --text-color: #fff;
    --main-color: #5982f4;
    --colora: rgb(42, 42, 42);
    --colorb: rgb(30, 30, 30);
    --colorc: #c5c5c5;
    --gold: #daa520;
    /* background: linear-gradient(
        to right, var(--main-color), #00aeff
    );
    -webkit-text-fill-color: transparent;
    background-clip: text; */


}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--colorb);
    color: var(--text-color);
}




section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}



/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(30, 30, 30, 0.5);
    border-bottom: 2px solid rgba(105, 105, 105, 0.37);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    flex-wrap: wrap;
    backdrop-filter: blur(3px);
}


.navbar-nav {
    display: flex;
}

.navbar-nav.active {
    display: block;
    color: black;
    font-weight: bold;
}


.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    font-family: "Kaushan Script", sans-serif;
}

.navbar .navbar-logo span {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Kaushan Script", sans-serif;
}

/* Warna teks default untuk link navbar */
.navbar .navbar-nav a {
    color: var(--text-color);
    display: inline-block;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin: 0 1rem;
    font-weight: 900;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}

/* Warna teks saat link di-hover dan saat link aktif */
.navbar .navbar-nav a:hover,
.navbar .navbar-nav a.active {
    background-image: linear-gradient(to right, var(--main-color), #004cff);

    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}

/* Efek garis bawah untuk link navbar */
.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--main-color);
    transform: scaleX(0);
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
}

/* Efek garis bawah saat link di-hover dan saat link aktif */
.navbar .navbar-nav a:hover::after,
.navbar .navbar-nav a.active::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: var(--text-color);
    margin: 0 0.5rem;
    text-decoration: none;
    /* tambahkan properti ini agar tautan tidak bergaris bawah */

}


.navbar .navbar-extra a:hover {
    color: var(--main-color);
}

#hamburger-menu {
    display: none;
    color: var(--text-color);
}

#hamburger-menu:hover {
    color: var(--main-color);

}

.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: var(--text-color);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
}


.navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: black;
}

.navbar .search-form button {
    cursor: pointer;
    background-color: #fff;
}



.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/bg/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.837);
    -webkit-mask-image: linear-gradient(rgb(27, 25, 25) 80%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(rgb(27, 25, 25) 80%, rgba(0, 0, 0, 0));
    background-attachment: fixed;
}

  


.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;




}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;

}

span {
    background-image: linear-gradient(to right, var(--main-color), #004cff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 900;
    line-height: 1.3;


}

.home-img img {
    box-shadow: 0 0 .5rem var(--colorc);
    border: 0.2rem solid var(--colorc);
    width: 25vw;
    animation: floatimage 4s ease-in-out infinite;
    -webkit-animation: floatimage 4s ease-in-out infinite;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}

@keyframes floatimage {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
        -webkit-transform: translateY(-2.4rem);
        -moz-transform: translateY(-2.4rem);
        -ms-transform: translateY(-2.4rem);
        -o-transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.home-content p {
    font-size: 1.6rem;
    letter-spacing: 1px;
    word-spacing: 2px;



}

.white-box {
    background-color: rgba(137, 122, 122, 0.179);
    padding: 20px;
    /* Memberi jarak di dalam kotak */

    border-radius: 5px;
    /* Membuat sudut kotak sedikit melengkung */
    text-align: justify;
    /* Menyelaraskan teks rata kanan kiri */
    backdrop-filter: blur(2px);
}



.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 2rem;
  color: #fff;
  margin: 3rem 1.5rem 3rem 0;
  transition:all .3s ease-in-out ;
  -webkit-transition:all .3s ease-in-out ;
  -moz-transition:all .3s ease-in-out ;
  -ms-transition:all .3s ease-in-out ;
  -o-transition:all .3s ease-in-out ;
}


.social-media a:hover {
    background: linear-gradient(to right, var(--main-color), #004cff);

    color: var(--bg-color);
    box-shadow: 0 0 .5rem #fff;
    border: none;

}





.btn:hover::before {
    width: 9em;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: linear-gradient(to right, var(--main-color), #004cff);
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    box-shadow: 0 0 0.5rem var(--text-color);
    font-size: 1.6rem;
    color: var(--bg-color);

    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

/* about */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('https://images.unsplash.com/photo-1709251744171-52db41f24d62?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.7); */
    background: var(--colorb);





}



.about-img img {
    width: 35vw;
    border: .2rem solid #c5c5c5;
    border-radius: 2.5rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;

}

.about-img img:hover {
    border: none;
    box-shadow: .2rem .2rem .5rem var(--colorc);
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.heading {
    text-align: center;
    font-size: 4.5rem;

}

.about-content h2 {
    text-align: left;
    line-height: 1.2;

}

.about-content h3 {
    font-size: 2.6rem;

    font-weight: bold;

}

.about-content p {
    margin: 2rem 0 .1rem;
    font-weight: bold;
}

.about-content p,
.table tr td {
    font-size: 1.4rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 2px;

}





/* pendidikan */
.services-container {

    width: 1140px;
    max-width: 100%;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    overflow: auto;
    padding: 50px;

}

.services {
    background-image: url('../img/pen/pen.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-mask-image: linear-gradient(rgb(27, 25, 25) 80%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(rgb(27, 25, 25) 80%, rgba(0, 0, 0, 0));
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    
    
  


}





.services .list {
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    gap: 20px;
    position: relative;
    z-index: 1;
}


.services .list .item {
    display: grid;
    grid-template-rows: 1fr 50px 1fr;
    gap: 20px;
    width: 245px;
    flex-shrink: 0;
}

.services .list .item i {

    background-image: linear-gradient(to right, var(--main-color), #004cff);
    width: 50px;
    color: var(--bg-color);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.services .list .item .time {
    display: flex;
    align-items: end;
    font-size: 1.6rem;
    background-image: linear-gradient(to right, var(--main-color), #004cff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 900;
}


.services .list .item .content .job {
    font-size: 1.8rem;
}

.services .list .item .content .company {
    color: #fff;
    font-size: 1.9rem;
    font-weight: 900;
}

.services .list .item .content .des {
    font-size: 1.3rem;
    opacity: 0.7;
}

.services .list .item:nth-child(odd) .content {
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.services .list .item:nth-child(odd) .time {
    grid-row-start: 3;
    grid-row-end: 4;
    align-items: start;
}


.services .list::before {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, var(--main-color), #004cff);

    z-index: -1;
    content: '';

}


/* pengalaman */
.portofolio {
    /* background-image: url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjh8fG9mZmljZXxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.7); */
    background: var(--colorb);

}

.portofolio h2 {
    margin-bottom: 4rem;

}

.portofolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portofolio-container .portofolio-box {
    position: relative;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border: .2rem solid var(--colorc);
    overflow: hidden;
    display: flex;

}

.portofolio-container .portofolio-box:hover {
    box-shadow: .2rem .2rem .5rem var(--colorc);
    border: none;

}

.portofolio-box img {
    width: 100%;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    opacity: 0.2;
    background-color: rgba(0, 0, 0, 0.7);
    
  
}

.portofolio-box:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);

}

.portofolio-box .portofolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), var(--colora));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;

}

.portofolio-box:hover .portofolio-layer {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);

}

.portofolio-layer h4 {
    font-size: 3rem;
    background-image: linear-gradient(to right, var(--main-color), #004cff);
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.portofolio-layer dl {

    font-size: 1.6rem;
    text-align: left;
    justify-content: left;
    align-items: left;
    margin-bottom: .5rem;

}

.portofolio-layer dl dt {
    margin-bottom: .5rem;
}

.portofolio-layer dl p {
    margin-bottom: .5rem;
    
}


/*  kontak saya*/
.contact {
    background-image: url('../img/kon/kon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.8);
background-attachment: fixed;

}

.contact h2 {
    margin-bottom: 3rem;
}



.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea,
.contact form iframe {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: rgba(30, 30, 30, 0.911);
    backdrop-filter: blur (10px);
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    margin: .7rem 0;
}


.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--colorb);

}

.footer-text {
    font-size: 1.6rem;

}

.footer-iconTop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    background: linear-gradient(to right, var(--main-color), #004cff);

    box-shadow: 0 0 .5rem var(--colorc);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    animation: floatimage 4s ease-in-out infinite;

}


@keyframes floatimage {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    50% {
        transform: translateY(-1.7rem);
        -webkit-transform: translateY(-1.7rem);
        -moz-transform: translateY(-1.7rem);
        -ms-transform: translateY(-1.7rem);
        -o-transform: translateY(-1.7rem);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.footer-iconTop a:hover,
.footer-iconTop:hover,
.footer-iconTop a i:hover {
    box-shadow: none;

}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
}

.alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #e53e65;
    color: #fff;
    font-family: system-ui;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40px auto 30px;
    animation: showAlert 0.5s ease-in-out 1;
    display: none;
}

.alert .title {
    font-weight: bold;
}

.alert .des {
    font-size: small;
}

.alert .icon,
.alert .close {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes showAlert {
    from {
        opacity: 0;
        transform: translate(0, 100px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

#success {
    background-color: #51e359;
}

/* media queris */
@media (max-width: 1366px) {
    html {
        font-size: 65%;
    }

    .navbar-nav a {
        font-size: 1.5;
        font-weight: bolder;
    }

    .portofolio-layer h4 {
        font-size: 2rem;

    }

    .portofolio-layer dl {

        font-size: 1.1rem;
        text-align: left;
        justify-content: left;
        align-items: left;
        margin-bottom: .5rem;

    }
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home-content h1 {
        font-size: 4.5rem;
    }

    .portofolio-layer h4 {
        font-size: 2rem;

    }

    .portofolio-layer dl {

        font-size: 1.1rem;
        text-align: left;
        justify-content: left;
        align-items: left;
        margin-bottom: .5rem;

    }



}

@media (max-width: 991px) {

    section {
        padding: 10rem 3%;
    }





    .portofolio {
        padding-bottom: 2.5rem;
    }

    .portofolio-layer h4 {
        font-size: 2rem;

    }

    .portofolio-layer dl {

        font-size: 1.1rem;
        text-align: left;
        justify-content: left;
        align-items: left;
        margin-bottom: .5rem;

    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }

}

@media screen and (max-width: 991px) {}

@media (max-width: 860px) {

    .home-content h1 {
        font-size: 3.5rem;
    }

    .home-content h3 {
        font-size: 3rem;
    }

    .navbar-nav a {
        font-size: 1.5;
        font-weight: bolder;
    }


}

@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

    .navbar-nav a {
        font-size: 1.5;
        font-weight: bolder;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content {
        order: 2;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;

    }

    .about {
        flex-direction: column;
    }

    .about-img img {
        width: 90vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portofolio h2 {
        margin-bottom: 3rem;
    }

    .portofolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;

        left: 0;
        width: 100%;
        padding: 1rem 3%;

    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content {
        order: 2;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;

    }

    .about {
        flex-direction: column;
    }

    .about-img img {
        width: 90vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portofolio h2 {
        margin-bottom: 3rem;
    }

    .portofolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 758px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--text-color);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .navbar .search-form {
        width: 90%;
        right: 2rem;
    }


}

@media (max-width: 700px) {
    html {
        font-size: 60%;
    }

}

@media (max-width: 617px) {
    .navbar {
        flex-wrap: wrap;
    }

    .portofolio-container {
        grid-template-columns: 1fr;
    }

    .home-img img {
        width: 80vw;
        margin-top: -10rem;


    }

    .about-img img {
        width: 80vw;
        margin-top: 4rem;

    }

    .home-content h1 {
        font-size: 4.5rem;
    }


}




@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .heading {
        font-size: 3.5rem;
    }

    .home-content h1 {
        font-size: 3.58rem;
    }

    .home-content h3 {
        font-size: 2.25rem;
    }

    .home-content p {
        font-size: 1.7rem;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .footer-text p {
        font-size: 1.150rem;
    }

    .portofolio-layer dl {
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .portofolio-layer dl {
        font-size: 1.6rem;
    }

}

@media (max-width: 350px) {
    html {
        font-size: 47%;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .heading {
        font-size: 3.5rem;
    }

    .home-content h1 {
        font-size: 3.5rem;
    }

    .home-content h3 {
        font-size: 2.25rem;
    }

    .home-content p {
        font-size: 1.7rem;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .footer-text p {
        font-size: 1.150rem;
    }

}

/* hhhhhhhhhhhhhhhhhhh */

@media (max-width: 1017px) {
    .home-content h1 {
        font-size: 5rem;
    }
}

@media (max-width: 604px) {
    .home-content h1 {
        font-size: 4.5rem;
    }
}

@media (max-width: 620px) {
    .portofolio-layer dl {
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .portofolio-layer dl {
        font-size: 1.6rem;
    }
}


@media (max-width: 539px) {
    .home-content h1 {
        font-size: 4rem;
    }
}

@media (max-width: 477px) {
    .home-content h1 {
        font-size: 3.8rem;
    }

    .home-content h3 {
        font-size: 2.3rem;
    }

}

@media (max-width: 458px) {

    .home-content h3 {
        font-size: 2.2rem;
    }
}

@media (max-width: 525px) {

    .home-content h3 {
        font-size: 2.3rem;
    }
}

@media (max-width: 382px) {

    .portofolio-layer dl {

        margin-right: 2rem;
        margin-left: 2rem;

    }


}

@media (max-width: 320px) {
    .home-content h1 {
        font-size: 4rem;
    }

    .home-content h3 {
        font-size: 2.5rem;
    }

}

@media (max-width: 360px) {
    .home-content h1 {
        font-size: 3.5rem;
    }

}

@media (max-width: 344px) {
    .home-content h1 {
        font-size: 4rem;
    }

    .home-content h3 {
        font-size: 2.5rem;
    }

}

@media (max-width: 377px) {
    .home-content h1 {
        font-size: 3.6rem;
    }

    .home-content h3 {
        font-size: 2.15rem;
    }

}

@media (max-width: 364px) {
    .home-content h1 {
        font-size: 3.5rem;
    }

    .home-content h3 {
        font-size: 2.15rem;
    }

}

@media (max-width: 353px) {
    .home-content h1 {
        font-size: 3.2rem;
    }

    .home-content h3 {
        font-size: 2.15rem;
    }

}

@media (max-width: 334px) {
    html {
        font-size: 40%;
    }

}

@media (max-width: 295px) {
    html {
        font-size: 35%;
    }

}

@media (max-width: 255px) {
    html {
        font-size: 33%;
    }

}

@media (max-width: 230px) {
    html {
        font-size: 31%;
    }

}

